body{
    background-color: #AFA96E;
}

 

.haikai{
    position: absolute;
    width: 150px;
    height: 35px;
    top: 50px;
    left: 50px;
    gap: 0px;
    opacity: 0px;
}

.navegacao{
    position: absolute;
    width: 267px;
    height: 20px;
    top: 50px;
    left: 983px;
    word-spacing: 9px;
    opacity: 0px;
    font-family: Montserrat;
}

a{
    color: white;
    text-decoration: none;
}

.mulher{
    position: absolute;
    width: 366.34px;
    height: 550px;
    top: 116px;
    left: 398px;
    gap: 0px;
    opacity: 0px;
    border: 1px solid #fff;
    padding: 10px;
}

.mulher2{
    position: absolute;
    z-index: 1;
    width: 307px;
    height: 370px;
    top: 221px;
    left: 672px;
    gap: 0px;
    opacity: 0px;

}