

.cabecalho{
    position: static;
}

body{
    background-color: #7C8034;
    ;
}

a{
    color: white;
    text-decoration: none;
    justify-content: space-evenly;
}

.navegacao{
    position: absolute;
    width: 267px;
    height: 20px;
    top: 50px;
    left: 983px;
    gap: 0px;
    opacity: 0px;
    word-spacing: 9px;
    font-family: Montserrat;}

.haikai{
    position: absolute;
    width: 149.64px;
    height: 35.01px;
    top: 49.99px;
    left: 50.18px;
    padding: 0px;
    gap: 0px;
    opacity: 0px;

}


.img{
position: absolute;
width: 400px;
height: 70px;
top: 143px;
gap: 0px;
opacity: 0px;

}

.image1{
    position: absolute;
    width: 200px;
    height: 300px;
    top: 340px;
    left: 163px;
    gap: 0px;
    opacity: 0px;
    border: 25px solid #fff;
    border-radius: 20px;
}

.image2{
    position: absolute;
    width: 200px;
    height: 300px;
    top: 340px;
    left: 551px;
    gap: 0px;
    opacity: 0px;    
    border: 25px solid #fff;
    border-radius: 20px;
}

.image3{
    position: absolute;
    width: 200px;
    height: 300px;
    top: 340px;
    left: 939px;
    gap: 0px;
    opacity: 0px;
    border: 25px solid #fff;
    border-radius: 20px; 
}

.kalma{
    position: absolute;
    width: 137px;
    height: 50px;
    top: 110px;
    left: 50px;
    gap: 0px;
    opacity: 0px;
    font-size: 40px;    
    font-family: nunito;
    color: #fff;
    
    
}
